[General]

## Load scripts automatically when the game starts.
# Setting type: Boolean
# Default value: false
LoadOnStart = true

## Reload all scripts when F6 is pressed in-game.
# Setting type: KeyboardShortcut
# Default value: F6
ReloadKey = F6

[AutoReload]

## Also reload scripts shortly after their DLL or PDB changes.
# Setting type: Boolean
# Default value: false
EnableFileSystemWatcher = true

## Wait for the build to finish copying files before reloading them.
# Setting type: Single
# Default value: 3
AutoReloadDelay = 1
